In [143]:
import sqlite3 as lite
import pandas as pd
db = lite.connect('capstone.db')
cur = db.cursor()
games = pd.read_sql_query('SELECT * FROM tblGame;', db)
reviews = pd.read_sql_query('SELECT * FROM tblReview;', db)

In [144]:
#make ratings columns for encoding 
#ratings E' 'E10+' 'T' 'M'

games_processed = games 

games_processed['gameID'] = games_processed.index + 1

games_processed = pd.concat([games_processed, pd.get_dummies(games_processed['rating'])], axis=1)



#drop link and image column
games_processed = games_processed.drop('link', 1)
games_processed = games_processed.drop('image', 1)

#drop rating columns with low values
games_processed = games_processed.drop('AO', 1)
games_processed = games_processed.drop('', 1)
games_processed = games_processed.drop('EC', 1)
games_processed = games_processed.drop('K-A', 1)
games_processed = games_processed.drop('RP', 1)

games_processed = games_processed.drop('rating', 1)

In [145]:
#genre columns for encoding 
games_processed = pd.concat([games_processed, pd.get_dummies(games['genre'])], axis=1)

#drop genres with less than 10 games
games_processed = games_processed.drop('Action RPG', 1)
games_processed = games_processed.drop('Alternative', 1)
games_processed = games_processed.drop('Arcade', 1)
games_processed = games_processed.drop('Basketball', 1)
games_processed = games_processed.drop('Breeding/Constructing', 1)
games_processed = games_processed.drop('Card Battle Games', 1)
games_processed = games_processed.drop('City Building', 1)
games_processed = games_processed.drop('Combat Sims', 1)
games_processed = games_processed.drop('Compilations', 1)
games_processed = games_processed.drop('Console-style RPG', 1)
games_processed = games_processed.drop('First-Person Shooters', 1)
games_processed = games_processed.drop('Football', 1)
games_processed = games_processed.drop('Futuristic', 1)
games_processed = games_processed.drop('Golf', 1)
games_processed = games_processed.drop('Hidden Object', 1)
games_processed = games_processed.drop('Ice Hockey', 1)
games_processed = games_processed.drop('Japanese-Style', 1)
games_processed = games_processed.drop('Massively Multiplayer', 1)
games_processed = games_processed.drop('Massively Multiplayer Online', 1)
games_processed = games_processed.drop('Military', 1)
games_processed = games_processed.drop('Other Sports Games', 1)
games_processed = games_processed.drop('PC-style RPG', 1)
games_processed = games_processed.drop('Parlor Games', 1)
games_processed = games_processed.drop('Party', 1)
games_processed = games_processed.drop('Party Games', 1)
games_processed = games_processed.drop('Platformer', 1)
games_processed = games_processed.drop('Puzzle Games', 1)
games_processed = games_processed.drop('Rail', 1)
games_processed = games_processed.drop('Real-Time', 1)
games_processed = games_processed.drop('Real-Time Strategy', 1)
games_processed = games_processed.drop('Rhythm Games', 1)
games_processed = games_processed.drop('Scrolling', 1)
games_processed = games_processed.drop('Sim', 1)
games_processed = games_processed.drop('Simulations', 1)
games_processed = games_processed.drop('Soccer', 1)
games_processed = games_processed.drop('Third-Person', 1)
games_processed = games_processed.drop('Traditional', 1)
games_processed = games_processed.drop('Turn-Based', 1)
games_processed = games_processed.drop('Turn-Based Strategy', 1)
games_processed = games_processed.drop('Tycoon', 1)
games_processed = games_processed.drop('Virtual Life Games', 1)
games_processed = games_processed.drop('Western-Style', 1)
games_processed = games_processed.drop('genre', 1)

In [146]:
#Developers
developer_count = games_processed['developer'].value_counts()
#print sum(developer_count)
#print len(developer_count)
value_counts = games_processed['developer'].value_counts()

#create list of developers with less than 50 games in database
drop_developers = value_counts[value_counts < 50]
drop_developers = drop_developers.index

#replace with blank so that dummy columns are not created         
games_processed['developer'] = games_processed.apply(lambda row:'' if row['developer'] in drop_developers else row['developer'], axis=1)

In [147]:
games_processed = pd.concat([games_processed, pd.get_dummies(games_processed['developer'])], axis=1)

In [148]:
#drop blank column and developer column

games_processed = games_processed.drop('', 1)
games_processed = games_processed.drop('developer', 1)

In [149]:
# aux function to get date features from a timestamp
import numpy as np

def date_features(row, kind):
    if row:
        if kind == 'year':
            return row[0:4]
        if kind == 'month':
            return row[5:7]
        if kind == 'day':
            return row[8:10]  
    else:
        return np.nan

# generating columns for dataset    
games_processed['rlsDateYear'] = games_processed.apply(lambda row: date_features(row['rlsDate'], 'year'), axis = 1)
games_processed['rlsDateMonth'] = games_processed.apply(lambda row: date_features(row['rlsDate'], 'month'), axis = 1)
games_processed['rlsDateDay'] = games_processed.apply(lambda row: date_features(row['rlsDate'], 'day'), axis = 1)

In [150]:

# getting dummy variables
games_processed = pd.concat([games_processed, pd.get_dummies(games_processed['rlsDateYear'])],  axis = 1)
games_processed = pd.concat([games_processed, pd.get_dummies(games_processed['rlsDateMonth'])],  axis = 1)
games_processed = games_processed.rename(columns={'01': 'Month_01', '02': 'Month_02', '03': 'Month_03', '04': 'Month_04', '05': 'Month_05', '06': 'Month_06', '07': 'Month_07', '08': 'Month_08', '09': 'Month_09', '10': 'Month_10', '11': 'Month_11', '12': 'Month_12'})

games_processed = pd.concat([games_processed, pd.get_dummies(games_processed ['rlsDateDay'])],  axis = 1)

# drop columns after dummyfication
games_processed = games_processed.drop('rlsDateYear',1)
games_processed = games_processed.drop('rlsDateMonth',1)
games_processed = games_processed.drop('rlsDateDay',1)

# droping 1994, 1995
games_processed = games_processed.drop('1994',1)
games_processed = games_processed.drop('1995',1)

#drop original release date column
games_processed = games_processed.drop('rlsDate',1)

In [153]:
scores_by_game = reviews.groupby(['gameID']).agg('mean')[['score']]
scores_by_game = scores_by_game.reset_index()
scores_by_game.head(5)

   gameID      score
0     1.0  61.200000
1     2.0  61.117647
2     3.0  15.697885
3     4.0  63.444444
4     5.0  61.000000

In [154]:

games_processed.head(3)

,name,summary,gameID,E,E10+,M,T,2D,Action,Action Adventure,...,22,23,24,25,26,27,28,29,30,31
0,Ginger: Beyond the Crystal,"A world destroyed by a crystal explosion, a my...",1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,JoJo's Bizarre Adventure: Eyes of Heaven,"Featuring a new two-on-two battle system, larg...",2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,The Crew,Strap in for a ride that will find you infiltr...,3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [157]:
#add score column to data frame
games_processed = games_processed.merge(scores_by_game, on = 'gameID')

In [158]:
import pickle

with open('feature_engineering.pickle', 'wb') as handle:
   pickle.dump(games_processed, handle, protocol=pickle.HIGHEST_PROTOCOL)